<%-include('templates/head')  %>
<%-include('templates/header')  %>
<%- include('templates/navbar') %>
<h1>Nuevo Colaborador</h1>


<form action="/nuevoColaborador" method="post">
    <label for="Rut">Rut:</label>
    <input type="text" id="Rut" name="Rut" required>
    
    <label for="Nombre">Nombre:</label>
    <input type="text" id="Nombre" name="Nombre" required>
    
    <label for="Telefono">Telefono:</label>
    <input type="text" id="Telefono" name="Telefono" required>
    
    <label for="NumeroCuenta">Numero de Cuenta:</label>
    <input type="text" id="NumeroCuenta" name="NumeroCuenta" required>
    
    <label for="TipoCuenta">Tipo de Cuenta:</label>
    <input type="text" id="TipoCuenta" name="TipoCuenta" required>
    
    <label for="Banco">Banco:</label>
    <input type="text" id="Banco" name="Banco" required>
    
    <button type="submit">Enviar</button>
</form>
<%- include('templates/footer') %>
</body>

</html>