<header>
    <div class="container-fluid d-flex justify-content-start align-content-center align-items-center">
        <img id="logo" src="./img/logo.png" alt="Logo" width="100px" height="100px"
            class="d-inline-block align-text-center mt-auto">
        <h1 id="empresa">Taller de prestación de servicios en confección y planchado Camila Coté</h1>
    </div>
</header>